/* Style the navigation links */
.nav {
  position: fixed;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row; */

  width: 100%;
  padding: 20px;
  background:var(--dev-black);
  color: var(--dev-white);
  z-index: 10;
}

.nav .nav-wrapper {
  display: grid;
  grid-template-columns: 4fr 2fr;
  width: 70%;
  margin: auto;
}

.nav .nav-wrapper .nav-right {
  display: grid;
  /* grid-template-columns: 60% 40%; */
  grid-template-columns: max-content max-content;
}

.nav .nav-links li {
  list-style: none;
  display: inline;
  padding: 0 10px;
}

.nav-offest {
  height: 90px;
  /* background: red; */
  position: relative;
  z-index: 9;
}

.nav-img img{
  width: 80px;
}