.md-container {
  width: 80%;
  margin: auto;
  display: flex;
  margin-top: 50px;
}

.md-container .left {
  width: 10%;
}

.md-container .main {
  width: 60%;
}

.md-container .right {
  width: 30%;
  margin-top: 5%;
  padding: 10px;
}