.item {
  position: relative;
  width: 22.4%;
  border-radius: 5px;
  padding: 5px;
  background: var(--dev-white);
  color: var(--dev-black);
  margin: 8px;
}

.item:hover{
  color: var(--dev-black);
}

.item img {
  width: 100%;
  height: 85%;
  background-size: cover;
  background-position: center;
  margin-bottom: 5px;
}

.item .item-details .item-divider {
  display: block;
  height: 8px;
  width: 0;
  background:#b4b9b6;
}

.item:hover .item-details .item-divider {
  width: 100%;
  transition:  all 0.5s ease-in-out;
}

.item.card-panel::before{
  position: absolute;
  background: #000;
  height: 83%;
  width: 96%;
  content: "";
  opacity: 0.4;
}

.item.card-panel:hover::before {
  opacity: 0;
  transition: opacity .5s ease-in-out;
}