@import './stylesheet/variables.css';
@import './stylesheet/util.css';
@import './stylesheet//main-content.css';
@import './stylesheet/showProduct.css';
@import './stylesheet/grid.css';

body {
  background: var(--main-bg);
  font-family: 'Open Sans',sans-serif, Arial,Helvetica,sans-serif,Heiti;
}
/* style the main app  */
.App.light {
  position: relative;
}

.dev-container {
  width: 70%;
  margin: auto;
  min-height: calc(100vh - 140px);
}

/* Grid layout  */
.grid {
  display: flex;
  flex-flow: wrap;
}

.strict.grid {
  display: grid;
}

.img-caption img{
  width: 100%;
  width: 190px;
  padding: 15px;
}

.img-rounded{
  border-radius: 5px;
}

.btn-sticky {
  position: absolute;
  bottom: 30px;
  right: 50px;
}

.rounded {
  border-radius: 5px;
}

.caption-bold {
  font-size: 14px;;
  font-weight: 900;
  color: var(--dev-black__light);
}

.small.form-container {
  width: 400px;
}

.dev-bold {
  font-weight: 900;
}

.dev-bold__caption {
  font-size: 1.6rem;
}

.dev-divider {
  border-top: 1px solid #f2f2f2;
}

/* override fonts for all headings */
h1,h2,h3,h4,h5,h6, 
.dev-bold__caption {
  font-family: Arial,Helvetica,sans-serif,Heiti;
}