@import './stylesheet/variables.css';
@import './stylesheet/nav.css';
@import './stylesheet/hero.css';
@import './stylesheet//main-content.css';
@import './stylesheet/Items.css';
@import './stylesheet/footer.css';
@import './stylesheet/cart.css';

body {
  background: var(--main-bg);
}
/* style the main app  */
.App.light {
  position: relative;
}

.dev-container {
  width: 70%;
  margin: auto;
}

/* Grid layout  */
.grid {
  display: flex;
  flex-flow: wrap;
}